.QuoteBlock {
  margin-block: var(--space-md);
  border-style: solid;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: var(--borderWidth-thick);
  border-color: var(--borderColor-accent-emphasis);
  background-color: transparent;
  padding-block: var(--space-xs);
  padding-left: var(--space-md);
  font-size: var(--text-body-size-medium);
  line-height: var(--text-body-lineHeight-medium);
  font-style: normal;
  color: var(--fgColor-muted);
}
