.root {
  max-width: 80ch;
  padding: var(--space-lg);
  font-size: var(--text-body-size-medium);
  line-height: var(--text-body-lineHeight-medium);
  color: var(--fgColor-default);
  overflow-wrap: anywhere;
}

.root h1,
.root h2,
.root h3 {
  margin-block: var(--space-lg) var(--space-sm);
  line-height: var(--base-text-lineHeight-snug);
}

.root h1 {
  padding-bottom: var(--space-xs);
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.root p,
.root ul,
.root ol,
.root blockquote,
.root pre,
.root table {
  margin-block: 0 var(--space-md);
}

.root pre,
.root code {
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-small);
}

.root pre {
  padding: var(--space-sm);
  overflow: auto;
  background-color: var(--bgColor-muted);
  border-radius: var(--borderRadius-medium);
}

.root code {
  padding: 0 var(--space-xs);
  background-color: var(--bgColor-muted);
  border-radius: var(--borderRadius-small);
}

.root pre code {
  padding: 0;
  background: none;
}

.root blockquote {
  padding-left: var(--space-md);
  color: var(--fgColor-muted);
  border-left: var(--borderWidth-thick) solid var(--borderColor-muted);
}

.root table {
  border-collapse: collapse;
}

.root th,
.root td {
  padding: var(--space-xs) var(--space-sm);
  border: var(--borderWidth-thin) solid var(--borderColor-default);
}

.root a {
  color: var(--fgColor-accent);
}

.root img {
  max-width: 100%;
}
