.table {
  width: 100%;
  /* stylelint-disable-next-line primer/borders */
  border-collapse: collapse;
  font-size: var(--text-body-size-small);
}

.cell {
  padding: var(--space-xs) var(--space-sm);
  text-align: left;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-muted);
}

.key {
  margin-right: var(--space-xs);
}
