.root {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: var(--base-size-16);
  touch-action: none;
  user-select: none;
}

.track {
  position: relative;
  flex-grow: 1;
  height: var(--base-size-2);
  border-radius: var(--borderRadius-full);
  background-color: var(--bgColor-neutral-muted);
  transition: height 120ms ease;
}

.root:hover .track,
.root:focus-within .track {
  height: var(--base-size-4);
}

.range {
  position: absolute;
  height: 100%;
  border-radius: var(--borderRadius-full);
  background-color: var(--bgColor-accent-emphasis);
}

.thumb {
  display: block;
  width: var(--base-size-12);
  height: var(--base-size-12);
  border-radius: var(--borderRadius-full);
  background-color: var(--bgColor-accent-emphasis);
  opacity: 0;
  transition: opacity 120ms ease;
}

.root:hover .thumb,
.thumb:focus-visible {
  opacity: 1;
}

.thumb:focus-visible {
  outline: var(--borderWidth-thick) solid var(--fgColor-accent);
  outline-offset: var(--base-size-2);
}

.root[data-disabled] .range,
.root[data-disabled] .thumb {
  background-color: var(--bgColor-disabled);
}
