.nav {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--bgColor-inset);
}

.group {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  padding-block: var(--space-sm);
  padding-inline: var(--space-sm);
}

.scroll {
  min-height: 0;
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--control-transparent-bgColor-active) transparent;
}

.item {
  position: relative;
  color: var(--fgColor-muted);
}

.item:hover {
  color: var(--fgColor-default);
}

.item[aria-pressed="true"] {
  color: var(--fgColor-accent);
}

.item[aria-pressed="true"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(var(--space-sm) * -1);
  width: 2px;
  height: var(--base-size-24);
  border-radius: var(--borderRadius-full);
  transform: translateY(-50%);
  background-color: var(--bgColor-accent-emphasis);
}
