@import "pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css";
@import "@fontsource-variable/cascadia-code";
@import "@primer/primitives/dist/css/primitives.css";
@import "@primer/primitives/dist/css/functional/themes/light.css";
@import "@primer/primitives/dist/css/functional/themes/dark.css";
@import "./reset.css";

:root {
  --fontStack-sansSerif:
    "Pretendard Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --fontStack-system: var(--fontStack-sansSerif);
  --fontStack-monospace:
    "Cascadia Code Variable", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

  font-family: var(--fontStack-sansSerif);

  --arka-row-height: 28px;
}

[data-density="touch"] {
  --arka-row-height: 44px;
}
