.root {
  padding: 0;
}

.groupHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--space-xs);
}

.badge {
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.badge[data-badge="A"],
.badge[data-badge="U"] {
  color: var(--fgColor-success);
}

.badge[data-badge="D"] {
  color: var(--fgColor-danger);
}

.badge[data-badge="M"] {
  color: var(--fgColor-attention);
}

.path {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
