.root {
  display: flex;
  width: 100%;
  max-width: 560px;
  height: var(--control-medium-size);
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: var(--borderWidth-thin);
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  background-color: var(--control-bgColor-rest);
  color: var(--fgColor-default);
  cursor: pointer;
  font-size: var(--text-caption-size);
  line-height: var(--text-caption-lineHeight);
  padding-inline: var(--space-sm);
}

.root:hover {
  background-color: var(--control-bgColor-hover);
}

.root:focus-visible {
  outline: var(--borderWidth-thick) solid var(--focus-outlineColor);
  outline-offset: -1px;
}
