.root {
  height: 100%;
  max-width: 64ch;
  padding: var(--space-lg);
  overflow: auto;
}

.section {
  margin-bottom: var(--space-lg);
}

.options {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding: 0;
  margin: var(--space-sm) 0 0;
  border: 0;
}

.legend {
  margin-bottom: var(--space-xs);
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
}

.option {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  min-height: var(--ade-row-height);
}
