.root {
  padding: 0;
}

.preview {
  display: block;
  overflow: hidden;
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-small);
  text-overflow: ellipsis;
  white-space: nowrap;
}
