:global(:has(> [data-component="ThemeProvider"]:has([data-component="Shell"]))) {
  position: relative;
}

:global([data-component="ThemeProvider"]:has([data-component="Shell"])) {
  position: absolute;
  inset: 0;
}

.root {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
}

.bottom {
  height: 300px;
}

.titleBar {
  border-style: solid;
  border-width: 0 0 var(--borderWidth-thin) 0;
  border-color: var(--borderColor-default);
}

.layout {
  min-height: 0;
  flex-grow: 1;
}

.layout > [data-width] {
  flex-flow: column nowrap;
}

.content {
  min-height: 0;
  height: 100%;
  position: relative;
}

.contentFill {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0;
}

.main {
  position: relative;
  min-height: 0;
  flex-grow: 1;
}

.portalRoot {
  position: fixed;
  inset: 0;
  z-index: var(--zIndex-popover);
  pointer-events: none;
}

.sidebarToggle {
  display: inline-grid;
}

@media (min-width: 768px) {
  .sidebarToggle {
    display: none;
  }
}

.sidebar {
  visibility: hidden;
  transition:
    transform 200ms var(--motion-easing-move),
    visibility 0s linear 200ms;
  transform: translateX(-100%);
}

.sidebar.sidebarOpen {
  visibility: visible;
  transition: transform 200ms var(--motion-easing-move);
  transform: translateX(0);
}

@media (min-width: 768px) {
  .sidebar,
  .sidebar.sidebarOpen {
    visibility: visible;
    transition: none;
    transform: none;
  }
}

.sidebarInner {
  display: flex;
  height: 100%;
  min-height: 0;
  flex-direction: column;
}

.sidebarCloseButtonRow {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--space-xs);
}

@media (min-width: 768px) {
  .sidebarCloseButtonRow {
    display: none;
  }
}

.sidebarBody {
  display: flex;
  min-height: 0;
  flex-grow: 1;
}

.sidebarSurface {
  display: flex;
  min-width: 0;
  flex-grow: 1;
  flex-direction: column;
  border-style: solid;
  border-width: 0 0 0 var(--borderWidth-thin);
  border-color: var(--borderColor-default);
}

.sidebarSurfaceBody {
  min-height: 0;
  flex-grow: 1;
}
