@media (pointer: coarse) {
  .root {
    position: relative;
  }

  .root::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    min-height: var(--control-minTarget-coarse);
    transform: translateY(-50%);
  }
}
